a{
  text-decoration:none
}
.input_field input {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-size: 1.125rem;
  margin: 0 0.3125rem;
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  // background-color: #494F55;
  border-color: #495455;
}