<form [formGroup]="form" class="p-5" (ngSubmit)="onSubmit()">
  @for(field of formJson; track field)
  {
      <app-custom-input
        [formControl]="getFormControl(field.inputfield.name)"
        [customInput]="{
            appearance: field.inputfield.appearance || 'outline',
            label: field.inputfield.label,
            type: field.inputfield.type || 'text',
            placeholder: field.inputfield.placeholder,
            name: field.inputfield.name || '',
            value: field.inputfield.value || '',
            hint: field.inputfield.hint || '',
            class: field.inputfield.class || '',
            id: field.inputfield.id || '',
            disabled: field.inputfield.disabled || false,
            icon: field.inputfield.icon || '',
            toggleIcon: field.inputfield.toggleIcon || false,
            toggleIcons: field.inputfield.toggleIcons || [],
            toggleTypes: field.inputfield.toggleTypes || [],
            accept: field.inputfield.accept || '*'
          }"
      >
      </app-custom-input>
  }
  <app-custom-button
    [config]="{
      type: 'submit',
      label: 'Submit',
      style: 'success',
      size: 'lg',
      icon: 'send',
      block: true,
      disabled: form.invalid,
      class: 'mt-3',
    }"
  ></app-custom-button>
</form>
